<div class="inner-content">
    <form [formGroup]="createListForm" (ngSubmit)="createListForm.valid && create()" novalidate>
        <ion-item>
            <ion-input autofocus="true" placeholder="List name" type="text" name="name" formControlName="name" required></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.required">
      <span>
        This field is required
      </span>
        </ion-text>
        <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.minlength">
      <span>
        Minimum length 2
      </span>
        </ion-text>
        <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.maxlength">
      <span>
        Maximum length 18
      </span>
        </ion-text>
        <ion-row>
            <ion-col>
                <ion-button [disabled]="createListForm.invalid" type="submit" color="primary" expand="block">
                    Create
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</div>
