<div class="inner-content">
  <form [formGroup]="createTodoForm" (ngSubmit)="createTodoForm.valid && addTodo()" novalidate>
    <ion-item>
      <ion-input autofocus="true" placeholder="Todo name" type="text" name="name" formControlName="name" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.required">
      <span>
        This field is required
      </span>
    </ion-text>
    <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.minlength">
      <span>
        Minimum length 2
      </span>
    </ion-text>
    <ion-row>
      <ion-col>
        <ion-button (click)="addTodo()" [disabled]="createTodoForm.invalid" type="button" color="primary" expand="block">
          Create
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>