<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{currentList?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="currentList?.todos?.length != 0">
    <ion-list lines="full" inset="true" mode="ios">
      <ion-item-sliding *ngFor="let t of currentList?.todos | async">
        <ion-item [routerLink]="['./todo-details/', t?.id]" routerDirection="forward">
          <ion-label>{{ t?.name }}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option expandable color="danger" (click)="delete(t?.id)"><ion-icon name="trash" style="zoom:2.0;"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>

<ion-button (click)="presentModal()">Add new todo</ion-button>
