<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{currentList?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="currentList?.todos?.length != 0">
    <ion-list lines="full" inset="true" mode="ios">
      <ion-item-sliding *ngFor="let t of currentList?.todos | async; let i=index" id="slider-{{i}}">
        <div class="row">
          <ion-checkbox class="checkbox" slot="start" color="success" [checked]="t?.isDone" (ionChange)="update(t, $event)"></ion-checkbox>
          <ion-item class="list" (click)="goTodo(t?.id, i)" routerDirection="forward">
            <ion-label>{{ t?.name }}</ion-label>
          </ion-item>
        </div>
        <ion-item-options side="end">
          <ion-item-option expandable color="primary" (click)="showOption(t)"><ion-icon name="settings" style="zoom:2.0;"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>

<ion-button (click)="presentModal()">Add new todo</ion-button>
