<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <ion-item>
    <ion-button (click)="loginWithGoogle()"><ion-icon name="logo-google"></ion-icon> Google</ion-button>
  </ion-item>

  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.controls['email'].value, loginForm.controls['password'].value)">
    <ion-item>Already have an account ?</ion-item>
    <ion-item>
      <ion-input placeholder="email" formControlName="email"></ion-input>
      <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
        Invalid format
      </div>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
  </form>
</div>

<div>
  <ion-item>Forgot your password ?</ion-item>
  <ion-button expand="block" [routerLink]="['/password-recovery']" routerDirection="forward">Go to recovery page</ion-button>
</div>

<div>
  <ion-item>Don't have an account yet ?</ion-item>
  <ion-button expand="block" [routerLink]="['/register']" routerDirection="forward">Go to register page</ion-button>
</div>