<div>
  <ion-header>
    <ion-toolbar>
      <ion-title>register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="logged; else elseBlock">
    <ion-button expand="block" (click)="logout()">Logout</ion-button>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.controls['email'].value, registerForm.controls['password'].value)">
    <ion-item>Want to create a new account ?</ion-item>
    <ion-item>
      <ion-input placeholder="email" formControlName="email"></ion-input>
      <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
        Invalid format
      </div>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!registerForm.valid">Register</ion-button>
  </form>
</div>

<ng-template #elseBlock>
  <ion-item>Already have an account ?</ion-item>
  <ion-button expand="block" [routerLink]="['/login']" routerDirection="forward">Go to login page</ion-button>
</ng-template>