<ion-header>
  <ion-toolbar>
    <ion-title>Options on {{list.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-input placeholder="Email" #input></ion-input>
<div style="display: flex; flex-direction: row">
  <ion-text color="danger" *ngIf="error">
      <span>
        Unknown user
      </span>
  </ion-text>
  <ion-button color="primary" (click)="addWrite(input.value)">Add writer</ion-button>
  <ion-button color="secondary">Add reader</ion-button>
</div>
<ion-button color="danger" (click)="parent.delete(list.id); dismiss()">Delete</ion-button>

