<ion-header>
  <ion-toolbar>
    <ion-title>password-recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="passwordRecovery(passwordRecoveryForm.controls['email'].value)">
    <ion-item>
      <ion-input placeholder="email" formControlName="email"></ion-input>
      <div *ngIf="passwordRecoveryForm.controls['email'].invalid && (passwordRecoveryForm.controls['email'].dirty || passwordRecoveryForm.controls['email'].touched)">
        Invalid format
      </div>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!passwordRecoveryForm.valid">Reset my password</ion-button>
  </form>
</ion-content>