<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Password Recovery</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']" routerDirection="forward">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="passwordRecovery(passwordRecoveryForm.controls['email'].value)">
    <ion-item>
      <ion-input placeholder="email" formControlName="email"></ion-input>
      <ion-label color="danger" *ngIf="passwordRecoveryForm.controls['email'].invalid && (passwordRecoveryForm.controls['email'].dirty || passwordRecoveryForm.controls['email'].touched)">
        Invalid format
      </ion-label>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!passwordRecoveryForm.valid">Reset my password</ion-button>
  </form>
</ion-content>