<ion-header>
  <ion-toolbar>
    <ion-title>todo-details of {{currentTodo?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input type="text" [(ngModel)]="currentTodo.name" name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input type="text" [(ngModel)]="currentTodo.description" name="description"></ion-input>
  </ion-item>
</ion-content>

<ion-button (click)="update()">Update</ion-button>
